@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffefe;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)), url('/pink_penguin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}


@layer components {
  .button-style  {
    @apply flex items-center justify-center border-[1px] border-red-50 w-full rounded-md py-1 text-[#333] hover:bg-[#FDC5C5] px-2
  }
}